.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  font-family: 'Vollkorn', serif;
}

body {
  background-color: #f6f6f6;
}


.cont {
  display: flex;
  justify-content: center;
  font-family: 'Vollkorn', serif;
}

.back {
  background-color: #f4eddd; 
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Vollkorn', serif;
}

.change {
  background-color: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 15px;
  font-family: 'Vollkorn', serif;
}

img {
  border-radius: 10px;
}

h3, h4 {
  font-family: 'Vollkorn', serif;
}

button {
  margin: 10px;
}

nav {
  background: #cfd8dc;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-family: 'Vollkorn', serif;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}